body{
    text-align: center;
}

div{
    border: 2px solid black;
    display: inline-block;
    height: 50px;
    width: 150px;
    
}

#container{
    width: 560px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content:center ;
    flex-wrap:wrap;
   /* padding: 20px;
    margin: 50px;*/
    align-items:flex-start;
    /*align-content: flex-start;*/
}
a{
    text-decoration: none;
}

#box1{
    background-color: aqua;
}

#box2{
    background-color: pink;
    height: 100px;
    align-self: flex-end;
}

#box3{
    background-color: darkkhaki;
}

#box4{
    background-color: indianred;
    align-self: flex-end
    ;
}

#box5{
    background-color: slateblue;
    align-self: flex-end;
    
}

