#box{
    background-color: blue;
}

.heading{
    color: red;
    text-align: center
    ;
}

input{
    color: green;
    background-color: aqua;
    text-align:right;
}

a{
    text-decoration: none;
}